
.footer-bar {
    color: white;
    background-color: #333;
    line-height: 40px;
    font-size: 13px;
    margin-top: 20px;
    padding-left: 10px;

    // set the footer to the bottom of the page, but not fixed
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}