
.c-footer-bar {
    color: white;
    background-color: #333;
    height: 100%;
    font-size: 13px;
    padding-left: 10px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;

    // set the footer to the bottom of the page, but not fixed
    //position: absolute;
    // position: initial;
    // right: 0;
    // bottom: 0;
    // left: 0;
}