$GraphTitleBorderColor: #ddd;

.c-performance-container {
    padding: 15px;

    .c-performance-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .c-search-result-container {
        display: flex;
        flex-direction: column;
        
        .c-search-result-titlebar {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .c-search-result-buttons {
                align-items: flex-end;
                
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                .c-fund-selector {
                    margin-right: 5px;
                }
            }
        }

        .c-snapshot-table {
            margin-top: 20px;
        }

        .c-growth-overview-title {
            margin-top: 20px;
            border-bottom-style: double;
            border-bottom-color: $GraphTitleBorderColor;
        }

        .c-growth-overview-body {
            margin-top: 20px;
            .c-growth-overview-img {
                width: 100%;
            }
        }
    }
}