
.home-sub-header {
    margin-top: 10px;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .client-name {

    }

    .menu-bar {
        margin-left: 40px;
        .menu-item {
            margin-left: 20px;
        }
    }
}