
.c-portfolio-container {
    padding: 15px;

    .c-portfoliao-title {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    .c-search-result-container {
        
        .c-search-result-titlebar {        
            display: flex;
            flex-direction: row;
            align-items: center;  
            justify-content: space-between;  
        }

        .c-search-result-body-fund {
            margin-top: 10px;
            .c-result-title {
                margin-bottom: 5px;
            }
        }

        .c-search-result-body-deposit {
            margin-top: 80px;
            .c-result-title {
                margin-bottom: 5px;
            }
        }
    }
}