

.c-forget-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
    background-color: #a0b4c9;

    .c-forget-container {
        background-color: white;
        display: flex;
        flex-direction: column;
        .c-forget-title {
            background-color: #D4C99E;
            font-weight: bold;
            padding: 0px;
            text-align: center;
        }

        .c-forget-content {
            padding: 10px;
        }
    }
}