/* set the height of html and body to 100%, it is for the layout of footer */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* set the height of "root" div to 100%, it is for the layout of footer */
#root {
  height: 100%; }

/* common css for the whole app */
.c-center {
  text-align: center; }

.c-right {
  text-align: right; }

.c-v-center {
  vertical-align: middle; }

.c-show {
  display: block; }

.c-hide {
  display: none; }

.c-border {
  border: 1px solid red; }
