/* c-home-sub-sub-layout is for the laoyout in "AccountSummarySubLayout", "OrderPadSubLayout", "PricingSubLayout" files */
.c-home-sub-sub-layout {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    .c-home-sub-sub-side-bar {
        padding: 10px;
    }

    .c-home-sub-sub-content {
        margin-left: 20px;
        padding-top: 10px;
    }
}


