.c-fixed-table-container {
  height: 194px;
  /* set the buttom of the table */
  padding-bottom: 45px; }
  .c-fixed-table-container .c-fixed-table-header {
    margin-right: 0px;
    height: 45px;
    /* set the header edge */
    padding-right: 17px; }

.c-bs-checkbox {
  width: 30px; }

.c-table-hover {
  width: 1000px; }

.c-fht-cell {
  width: 30px; }

.c-table-hover-margin {
  margin-top: -57px;
  margin-bottom: 0px; }
