.c-fixed-table-container {
    //height: 186px; padding-bottom: 40px;
    // height: 250px;  /* has right scroll bar */
 
    /* set the buttom of the table */
    //padding-bottom: 45px;

    .c-fixed-table-header {
        margin-right: 0px;
        height: 45px;      
    }

    .c-fixed-table-header-noaction {
        /* set the header edge */
        // padding-right: 17px;  /* has right scroll bar */
    }

    .c-fixed-table-header-action {
        /* set the header edge */
        padding-right: 27px;
    }
}

.c-bs-checkbox {
    //width: 36px; 
    width: 30px; 
}

.c-table-hover {
    //width: 698px;
    width: 1000px;
}

.c-fht-cell {
    //width: 36px;
    width: 30px;
}

.c-table-hover-margin {
   // margin-top: -40px;
    margin-top: -57px;
    margin-bottom: 0px;

}

