.c-fixed-table-container {
  /* set the buttom of the table */ }
  .c-fixed-table-container .c-fixed-table-header {
    margin-right: 0px;
    height: 45px; }
  .c-fixed-table-container .c-fixed-table-header-noaction {
    /* set the header edge */ }
  .c-fixed-table-container .c-fixed-table-header-action {
    /* set the header edge */
    padding-right: 27px; }

.c-bs-checkbox {
  width: 30px; }

.c-table-hover {
  width: 1000px; }

.c-fht-cell {
  width: 30px; }

.c-table-hover-margin {
  margin-top: -57px;
  margin-bottom: 0px; }
