.c-date-component-container {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .c-date-component-container .c-date-component-title {
    width: 150px;
    padding-right: 10px;
    font-weight: bold; }
